<%= link_to "New Article", new_article_path, class: "btn btn-default btn-large", id: "new-article-id" %>

<% if @articles.empty? %>
	<h1 id="no-articles">No Articles Created</h1>
<% else %>
	<% @articles.each do |article| %>
		<div class="well well-lg">
			<div class="article-title">
				<%= link_to article.title, article_path(article) %>
			</div>
			<div>
				<%= truncate(article.body, length: 500) %>
			</div>
			<div class="author">
				<small>Created by: <%= article.user.email if !(article.user.nil?)  %></small>
			</div>
		</div>
	<% end %>
<% end %>